<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">JWT Auth System</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
   <li class="list-group-item" *ngFor="let item of taskList">
      <strong>
        TODO: {{item.name}}
      </strong>
    </li>
    <h2 routerLink='/home/addtask' routerLinkActive='active'>Add Task</h2>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
